* {
	box-sizing: border-box;
}

body > div {
	text-align: center;
}

#title {
	text-align: center;
}

#question-box {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	width: 500px;
	height: 250px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	border: 2px solid black;
}

#game-list-div {
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	width: 600px;
	height: 350px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid black;
}

#game-list {
	list-style: none;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
	display: block;
}

.game-list-li {
	box-sizing: border-box;
	width: 100%;
}

.high-score {
	display: inline-block;
	width: 50px;
	text-align: center;
}

.game-title {
	display: inline-block;
	width: 200px;
	text-align: left;
}

.hidden {
	display: none;
}

.row {
	display: inline;
}

.btn {
	margin-left: 10px;
}

.centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#game-start-div {
	vertical-align: top;
	text-align: center;
}

#game-start-div > * {
	text-align: left;
}

#radio-buttons-answers {
	list-style: none;
	width: 400px;
}

#new-game-form div {
	display: inline-block;
	width: 50px;
}

#new-game-form-ul {
	list-style: none;
}

#new-game-form-ul > li {
	width: 300px;
}

.container {
	width: 750px;
	height: 650px;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 30px;
}